doctype html
html
    include includes/head.pug
    body
        h1= 'Welcome to my site'
        p= 'Extremely booring site i may add'
        figure
            img(src="./img/cat.jpg" class="big small trans")

        include includes/foot.pug
        script(src='/js/main.js')